my_service_key.json
.env
__pycache__/
letgo.tf
extract_data/
myenv/
terraform_folder/.terraform/providers/
test.py
REDSHIFT_AUTH_FIX.md
tmp/
read_me.md
get_data.py
load_raw_sample.py
dag_load_raw_toredshift.py
DOCKER_SETUP.md
dbt/telecom_dbt/target/
dbt_folder/
load_raw_redshift.py
trial.py
logs/
plugins/
others/
dbt/telecom_dbt/README.md