version: "3.9"

x-airflow-common: &airflow-common
  image: coretelecom-airflow:latest
  env_file:
    - .env
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__FERNET_KEY: ""
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "false"
    AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "true"
    AIRFLOW_UID: 50000
  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    - ./scripts:/opt/airflow/scripts
    - ./dbt:/opt/airflow/dbt
  networks:
    - airflow

services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    networks:
      - airflow

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - airflow-scheduler

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    depends_on:
      - postgres

  airflow-init:
    <<: *airflow-common
    command: airflow db init
    depends_on:
      - postgres

networks:
  airflow:

volumes:
  postgres-db-volume:
